* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  color: inherit;
}

input[type=number] {
  -moz-appearance: textfield;
}

@font-face {
  font-family: "Involve";
  src: url("../fonts/Involve-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Involve";
  src: url("../fonts/Involve-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Involve";
  src: url("../fonts/Involve-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "LibelSuit";
  src: url("../fonts/LibelSuit-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}
html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 1.5;
  background-color: #ffffff;
  color: #4c4c4c;
  font-weight: 400;
  font-family: "LibelSuit";
  overflow: hidden;
}
body.ready {
  overflow-x: hidden;
  overflow-y: auto;
}
body.ready .preloader {
  opacity: 0;
  visibility: hidden;
}
body.open-modal {
  overflow: hidden;
}
body.open-modal:before {
  content: "";
}
body:before {
  position: fixed;
  inset: 0;
  z-index: 88;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
}

option[value=""] {
  display: none;
}

.wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper--animation .main section {
  margin-bottom: clamp(5rem, 3.9573rem + 4.0201vw, 7.5rem);
}
.wrapper--animation .main section:not(.events) {
  overflow-x: hidden;
}
.wrapper--animation .block-main {
  display: block;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: clamp(5rem, 3.9573rem + 4.0201vw, 7.5rem);
  padding-top: calc(clamp(5.125rem, 4.6998rem + 1.6393vw, 6.0625rem) + 40px);
}
.main--room {
  padding-top: calc(clamp(5.125rem, 4.6998rem + 1.6393vw, 6.0625rem) + clamp(1.875rem, -33.5rem + 40vw, 2.5rem));
}
.main section:last-of-type {
  margin-bottom: clamp(5rem, 3.9573rem + 4.0201vw, 7.5rem);
}

.block-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: clamp(5rem, 3.9573rem + 4.0201vw, 7.5rem);
}

.container {
  max-width: clamp(88.125rem, 83.1389rem + 10.4012vw, 92.5rem);
  margin: 0 auto;
  padding: 0px 45px;
}

@media (max-width: 1223px) {
  .container {
    padding: 0 clamp(1rem, 0.2285rem + 2.9744vw, 2.8125rem);
  }
}
p {
  font-size: 16px;
  line-height: 1.5;
  color: #4c4c4c;
  letter-spacing: -0.02em;
  font-family: "Involve";
  font-weight: 400;
}

h1,
.h1 {
  font-size: clamp(2.5rem, 1.4573rem + 4.0201vw, 5rem);
  line-height: 1.25;
  color: #4c4c4c;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  h1,
  .h1 {
    letter-spacing: -0.0303030303em;
  }
}

h2,
.h2 {
  font-size: clamp(2.5rem, 1.718rem + 3.0151vw, 4.375rem);
  line-height: 1.2;
  letter-spacing: -0.04em;
  color: #4c4c4c;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  h2,
  .h2 {
    letter-spacing: -0.0303030303em;
  }
}

h3,
.h3 {
  font-size: clamp(2.5rem, 1.8744rem + 2.4121vw, 4rem);
  letter-spacing: -0.04em;
  line-height: 1;
  text-transform: uppercase;
  color: #4c4c4c;
}

.button,
.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 14px;
  min-height: 44px;
  text-transform: uppercase;
  line-height: 1.17;
  font-size: 16px;
  line-height: 1;
  border-radius: 8px;
  letter-spacing: -0.0033333333em;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}
.button--green,
.link--green {
  background-color: #039191;
  color: #fff;
}
.button--green:hover,
.link--green:hover {
  background-color: #05adad;
}
.button--green.disabled,
.link--green.disabled {
  background-color: rgba(3, 145, 145, 0.6);
  pointer-events: none;
}
.button--gray,
.link--gray {
  background-color: #e2dcd5;
  color: #4c4c4c;
}
.button--gray:hover,
.link--gray:hover {
  background-color: #d4cabf;
}
.button--gray.disabled,
.link--gray.disabled {
  background-color: rgba(226, 220, 213, 0.7);
  pointer-events: none;
}
.button--white,
.link--white {
  background-color: #fff;
  color: #4c4c4c;
}
.button--white:hover,
.link--white:hover {
  background-color: rgb(239, 239, 239);
}
.button--white.disabled,
.link--white.disabled {
  background-color: rgba(76, 76, 76, 0.2);
  pointer-events: none;
  color: rgba(76, 76, 76, 0.2);
}

.arrow-swiper {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(76, 76, 76, 0.7);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.arrow-swiper:hover {
  background-color: #039191;
}
.arrow-swiper.disabled {
  background-color: rgba(76, 76, 76, 0.2);
  pointer-events: none;
}
.arrow-swiper.prev {
  rotate: -180deg;
}

.swiper {
  position: relative;
  overflow-x: hidden;
}
.swiper .swiper-wrapper {
  padding-bottom: 0;
}
.swiper .swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.6);
  opacity: 1;
  margin: 0 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  cursor: pointer;
}
.swiper .swiper-pagination-bullet-active {
  background: #05adad;
  width: 28px;
  border-radius: 17px;
}

.burger-menu {
  display: none;
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  background-color: transparent;
  z-index: 999;
}
.burger-menu:after, .burger-menu:before {
  content: "";
  position: absolute;
  background-color: #4c4c4c;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 30px;
}
.burger-menu:after {
  top: 0;
  -webkit-transition: top 0.1s 0.5s, rotate 0.5s;
  transition: top 0.1s 0.5s, rotate 0.5s;
}
.burger-menu:before {
  bottom: 0;
  -webkit-transition: bottom 0.1s 0.5s, rotate 0.5s;
  transition: bottom 0.1s 0.5s, rotate 0.5s;
}
.burger-menu span {
  position: absolute;
  background-color: #4c4c4c;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.arrows-swiper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.main.bg-none .top:before {
  display: none;
}
.main.bg-none .top__bottom {
  opacity: 0;
}

.block-main {
  position: relative;
  top: 100vh;
  z-index: 30;
  background-color: #ffffff;
}

.modalBlock .form .custom-select input {
  background-color: transparent;
  border: none;
  padding: 0;
  border-radius: 0;
  color: #4c4c4c;
  height: auto;
  cursor: pointer;
}
.modalBlock .form .custom-select input::-webkit-input-placeholder {
  color: #4c4c4c;
}
.modalBlock .form .custom-select input::-moz-placeholder {
  color: #4c4c4c;
}
.modalBlock .form .custom-select input:-ms-input-placeholder {
  color: #4c4c4c;
}
.modalBlock .form .custom-select input::-ms-input-placeholder {
  color: #4c4c4c;
}
.modalBlock .form .custom-select input::placeholder {
  color: #4c4c4c;
}
.modalBlock .form__item.error input {
  border-color: #c82a20;
}

.custom-select {
  position: relative;
}
.custom-select.active .options-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0);
          transform: translate(0);
}
.custom-select.active .custom-select__active-arrow {
  rotate: 180deg;
}
.custom-select .options-list {
  position: absolute;
  z-index: 4;
  top: 110%;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: 1px solid rgba(76, 76, 76, 0.2);
  -webkit-box-shadow: 0px 0px 14px 0px rgba(9, 30, 101, 0.1490196078);
          box-shadow: 0px 0px 14px 0px rgba(9, 30, 101, 0.1490196078);
  background-color: #fff;
  padding: 16px 12px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Involve";
  max-height: 212px;
  overflow-y: auto;
}
.custom-select .options-list li {
  padding: 4px 8px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.custom-select .options-list li:hover {
  color: #039191;
}
.custom-select .options-list li.active .options-list__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.custom-select .options-list__arrow {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.custom-select__active {
  height: 56px;
  background-color: #fff;
  border: 1px solid rgba(76, 76, 76, 0.2);
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 16px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.custom-select__active-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.custom-select .real-select {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}

.input-default {
  background-color: transparent;
  border: none;
  padding: 0;
  border-radius: 0;
  color: #4c4c4c;
  height: auto;
  cursor: pointer;
}
.input-default::-webkit-input-placeholder {
  color: #4c4c4c;
}
.input-default::-moz-placeholder {
  color: #4c4c4c;
}
.input-default:-ms-input-placeholder {
  color: #4c4c4c;
}
.input-default::-ms-input-placeholder {
  color: #4c4c4c;
}
.input-default::placeholder {
  color: #4c4c4c;
}
.input-default:focus + span {
  rotate: -180deg;
}

.label-box {
  height: 56px;
  background-color: #fff;
  border: 1px solid rgba(76, 76, 76, 0.2);
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 16px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.label-box__arrow {
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.help-text {
  font-size: 14px;
  color: rgba(76, 76, 76, 0.6980392157);
}

.btnTab {
  font-size: 16px;
  background-color: transparent;
  font-weight: 600;
  font-family: "Involve";
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
}
.btnTab:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #039191;
  top: 100%;
  -webkit-transform-origin: right;
          transform-origin: right;
  scale: 0;
  -webkit-transition: scale 0.5s;
  transition: scale 0.5s;
}
.btnTab.active, .btnTab:hover {
  color: #039191;
}
.btnTab.active:before {
  scale: 1;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.open--menu {
  overflow: hidden;
}

.header {
  padding: clamp(1.1875rem, 0.9607rem + 0.8743vw, 1.6875rem) 0;
  position: fixed;
  z-index: 66;
  left: 0;
  right: 0;
  background-color: #fff;
  border-bottom: 1px solid #EFEFEF;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.header.scrollBottom {
  top: -300px;
}
.header.scrollTop {
  top: 0;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__logo img {
  -o-object-fit: contain;
     object-fit: contain;
}
.header__logo-small {
  display: none;
}
.header__address {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  font-size: 14px;
  letter-spacing: -0.14px;
  font-style: normal;
  line-height: 1.7;
  font-family: "Involve";
}
.header__address-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}
.header__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
@media (max-width: 1279px) {
  .header {
    border-bottom: 0;
  }
  .header__logo-small {
    display: inline;
  }
  .header__logo-big {
    display: none;
  }
  .header__details {
    display: none;
  }
  .header__address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.menu__link {
  font-family: "Involve";
  text-align: center;
}
.menu__item {
  color: #4c4c4c;
  text-align: center;
  display: block;
}
.menu__translation {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  font-family: "Involve";
}
.menu__translation-title {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  line-height: 1.33;
}
.menu__translation-checks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.menu__details {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.menu__details-item {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.menu__details-item:hover {
  color: #039191;
}
.menu__details-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  color: rgb(255, 255, 255);
  font-family: "Involve";
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
}
.menu__content .button,
.menu__content .link {
  display: none;
}
.menu__item {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.menu__item:hover {
  color: #039191;
}
@media (max-width: 1279px) {
  .menu__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    position: fixed;
    inset: 0;
    max-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-backdrop-filter: blur(25px);
            backdrop-filter: blur(25px);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 86px 16px 30px;
    color: #fff;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .menu__content > *:not(:last-child) {
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .menu__content .menu__details {
    padding: 0;
    border: none;
  }
  .menu__content .button,
  .menu__content .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: auto;
  }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 16px;
  }
  .menu__item {
    color: #fff;
    text-align: left;
  }
  .menu__item:before {
    display: none;
  }
  .menu__item br {
    display: none;
  }
  .menu__translation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu__details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu .burger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu.open .menu__content {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .menu.open .burger-menu:after {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    rotate: 45deg;
    -webkit-transition: top 0.5s, rotate 0.1s 0.5s;
    transition: top 0.5s, rotate 0.1s 0.5s;
  }
  .menu.open .burger-menu:before {
    bottom: 50%;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    rotate: -45deg;
    -webkit-transition: bottom 0.5s, rotate 0.1s 0.5s;
    transition: bottom 0.5s, rotate 0.1s 0.5s;
  }
  .menu.open .burger-menu span {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
}

.preloader {
  position: fixed;
  z-index: 99999;
  background-color: #039191;
  inset: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  padding: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.preloader__proccent {
  color: #fff;
  position: absolute;
  right: 40px;
  bottom: 40px;
}
.preloader__img {
  max-width: 404px;
  width: 100%;
  height: 106px;
}
.preloader__img svg {
  width: 100%;
  height: 100%;
}
.preloader__img svg path {
  fill: #fff;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.social__link {
  width: 44px;
  height: 44px;
  border: 1px solid rgb(239, 239, 239);
  border-radius: 12px;
  background-color: rgb(255, 255, 255);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.social__link:hover {
  background-color: #EFEFEF;
}
.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.form__inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px 12px;
}
.form__item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.2 0.5s;
  transition: all 0.2 0.5s;
  position: relative;
}
.form__item input,
.form__item textarea {
  border: 1px solid rgba(76, 76, 76, 0.2);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 56px;
  padding: 12px 16px;
  border-radius: 10px;
  font-size: 16px;
  background-color: transparent;
  width: 100%;
  font-weight: 400;
  font-family: "Involve";
  color: rgba(76, 76, 76, 0.6980392157);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.form__item input:hover,
.form__item textarea:hover {
  background-color: rgba(255, 255, 255, 0.1019607843);
}
.form__item input::-webkit-input-placeholder, .form__item textarea::-webkit-input-placeholder {
  color: rgba(76, 76, 76, 0.6980392157);
  font-size: 16px;
}
.form__item input::-moz-placeholder, .form__item textarea::-moz-placeholder {
  color: rgba(76, 76, 76, 0.6980392157);
  font-size: 16px;
}
.form__item input:-ms-input-placeholder, .form__item textarea:-ms-input-placeholder {
  color: rgba(76, 76, 76, 0.6980392157);
  font-size: 16px;
}
.form__item input::-ms-input-placeholder, .form__item textarea::-ms-input-placeholder {
  color: rgba(76, 76, 76, 0.6980392157);
  font-size: 16px;
}
.form__item input::placeholder,
.form__item textarea::placeholder {
  color: rgba(76, 76, 76, 0.6980392157);
  font-size: 16px;
}
.form__item textarea {
  resize: none;
  width: 100%;
}
.form__item--big {
  grid-column: span 2;
}
.form__item.error .form__errors {
  padding: 10px 0 0;
  max-height: 300px;
}
.form__item.error input,
.form__item.error textarea {
  -webkit-animation: error 1s linear;
          animation: error 1s linear;
  border-color: #c82a20;
}
.form__errors {
  z-index: 10;
  width: 100%;
  -webkit-transition: padding 1s, max-height 1s;
  transition: padding 1s, max-height 1s;
  max-height: 0;
  overflow: hidden;
  color: #c82a20;
  font-family: "Involve";
}
.form__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.form__bottom-textbox {
  max-width: 273px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.form__bottom-textbox p {
  color: #fff;
  font-size: 14px;
}

@-webkit-keyframes error {
  0% {
    rotate: -3deg;
  }
  25% {
    rotate: 3deg;
  }
  50% {
    rotate: -3deg;
  }
  75% {
    rotate: 3deg;
  }
  100% {
    rotate: 0deg;
  }
}

@keyframes error {
  0% {
    rotate: -3deg;
  }
  25% {
    rotate: 3deg;
  }
  50% {
    rotate: -3deg;
  }
  75% {
    rotate: 3deg;
  }
  100% {
    rotate: 0deg;
  }
}
.breadcrumbs {
  color: rgba(76, 76, 76, 0.6980392157);
  font-size: 14px;
  letter-spacing: -0.01em;
  font-family: "Involve";
}
.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
.breadcrumbs__link {
  padding-right: 16px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.breadcrumbs__link:before {
  position: absolute;
  content: "/";
  font-size: 14px;
  right: 0;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: clamp(1.5rem, 1.0951rem + 1.561vw, 2.5rem);
}
@media (max-width: 767px) {
  .navigation__top {
    display: none;
  }
}

.modalBlock {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.modalBlock.modalBlockTwo {
  padding: 16px;
}
.modalBlock.modalBlockTwo .modal-close {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(76, 76, 76, 0.6980392157);
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: 1px solid rgba(255, 255, 255, 0.1019607843);
  border-radius: 50%;
  position: absolute;
  z-index: 3;
  top: clamp(1rem, 0.5464rem + 1.7486vw, 2rem);
  right: clamp(1rem, 0.5464rem + 1.7486vw, 2rem);
}
.modalBlock.modalBlockTwo .modalBlockTwo__inner {
  max-width: 1040px;
  width: 100%;
  background-color: #ffffff;
  padding: 12px 12px 12px 40px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  position: relative;
}
.modalBlock.modalBlockTwo .modalBlockTwo__content {
  max-width: 487px;
}
.modalBlock.modalBlockTwo .modalBlockTwo__img {
  max-width: 440px;
  width: 100%;
}
.modalBlock.modalBlockTwo .modalBlockTwo__img img {
  width: 100%;
  height: 100%;
}
@media (max-width: 930px) {
  .modalBlock.modalBlockTwo .modalBlockTwo__inner {
    padding: 0 0 32px;
    max-width: 500px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .modalBlock.modalBlockTwo .modalBlockTwo__content {
    padding: 0 16px;
  }
  .modalBlock.modalBlockTwo .modalBlockTwo__img {
    max-width: 100%;
  }
}
.modalBlock.succesModal {
  text-align: center;
}
.modalBlock.succesModal .modalBlock__textbox {
  max-width: 100%;
}
.modalBlock.cardModal .modalBlock__inner {
  padding: clamp(1rem, 0.6031rem + 1.5301vw, 1.875rem);
  max-width: 90vw;
}
.modalBlock.cardModal .cardModal__img {
  width: 100%;
}
.modalBlock.cardModal .cardModal__img img {
  width: 100%;
  max-height: 80vh;
}
.modalBlock.cardModal .modal-close {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(76, 76, 76, 0.6980392157);
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: 1px solid rgba(255, 255, 255, 0.1019607843);
  border-radius: 50%;
  position: absolute;
  z-index: 3;
  top: clamp(1rem, 0.5464rem + 1.7486vw, 2rem);
  right: clamp(1rem, 0.5464rem + 1.7486vw, 2rem);
}
.modalBlock.certificateModal .form .form__input input {
  border: 1px solid rgba(76, 76, 76, 0.2);
  color: #4c4c4c;
}
.modalBlock.certificateModal .form .form__input input::-webkit-input-placeholder {
  color: #4c4c4c;
}
.modalBlock.certificateModal .form .form__input input::-moz-placeholder {
  color: #4c4c4c;
}
.modalBlock.certificateModal .form .form__input input:-ms-input-placeholder {
  color: #4c4c4c;
}
.modalBlock.certificateModal .form .form__input input::-ms-input-placeholder {
  color: #4c4c4c;
}
.modalBlock.certificateModal .form .form__input input::placeholder {
  color: #4c4c4c;
}
.modalBlock.certificateModal .form .form__input input.input-default {
  background-color: transparent;
  border: none;
  padding: 0;
  border-radius: 0;
  color: #4c4c4c;
  height: auto;
  cursor: pointer;
}
.modalBlock.certificateModal .form .form__input input.input-default::-webkit-input-placeholder {
  color: #4c4c4c;
}
.modalBlock.certificateModal .form .form__input input.input-default::-moz-placeholder {
  color: #4c4c4c;
}
.modalBlock.certificateModal .form .form__input input.input-default:-ms-input-placeholder {
  color: #4c4c4c;
}
.modalBlock.certificateModal .form .form__input input.input-default::-ms-input-placeholder {
  color: #4c4c4c;
}
.modalBlock.certificateModal .form .form__input input.input-default::placeholder {
  color: #4c4c4c;
}
@media (max-width: 930px) {
  .modalBlock.certificateModal.modalBlockTwo .modalBlockTwo__inner {
    padding: 16px;
  }
  .modalBlock.certificateModal.modalBlockTwo .modalBlockTwo__img {
    display: none;
  }
}
.modalBlock.open {
  opacity: 1;
  visibility: visible;
}
.modalBlock.open .modalBlock__inner {
  -webkit-transform: translate(0);
          transform: translate(0);
}
.modalBlock__inner {
  max-width: 644px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  background-color: #039191;
  padding: 30px 30px 50px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
}
.modalBlock__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.modalBlock__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.modalBlock__title {
  color: #fff;
}
.modalBlock__textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  max-width: 415px;
}
.modalBlock__textbox p {
  color: #fff;
}
.modalBlock .form {
  background-color: transparent;
}
.modalBlock .form__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.modalBlock .form input {
  border-color: #fff;
  color: #fff;
}
.modalBlock .form input::-webkit-input-placeholder {
  color: #fff;
}
.modalBlock .form input::-moz-placeholder {
  color: #fff;
}
.modalBlock .form input:-ms-input-placeholder {
  color: #fff;
}
.modalBlock .form input::-ms-input-placeholder {
  color: #fff;
}
.modalBlock .form input::placeholder {
  color: #fff;
}

.modal-close {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
}
.modal-close svg path {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.modal-close:hover svg path {
  fill: #000;
}

body.showForm .reservation-form--scroll {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, -30px);
          transform: translate(0, -30px);
}

.wrapper--animation .reservation-form--scroll {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.reservation-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: clamp(1.5rem, 1.3299rem + 0.6557vw, 1.875rem);
}
.reservation-form--scroll {
  position: fixed;
  z-index: 30;
  background-color: #fff;
  -webkit-backdrop-filter: blur(81px);
          backdrop-filter: blur(81px);
  left: 30px;
  right: 30px;
  bottom: 0px;
  padding: 16px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  border-radius: 16px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.reservation-form--scroll .button {
  margin: 0;
}
@media (max-width: 767px) {
  .reservation-form--scroll {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
  }
  .reservation-form--scroll .reservation-form__inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  .reservation-form--scroll .reservation-form__box-content {
    max-width: 100%;
    width: 100%;
  }
}
@media (max-width: 550px) {
  .reservation-form--scroll .reservation-form__inputs {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 767px) {
  .reservation-form--scroll {
    display: none;
  }
}
.reservation-form__inputs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: clamp(0.75rem, 0.6366rem + 0.4372vw, 1rem);
}
.reservation-form__box {
  cursor: pointer;
}
.reservation-form__box-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  padding: 13px 16px;
  border: 1px solid rgba(186, 186, 186, 0.3019607843);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  min-height: 50px;
  border-radius: 12px;
  position: relative;
}
.reservation-form__input {
  width: 0;
  height: 0;
  position: absolute;
  top: 50px;
}
.reservation-form__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  color: #707070;
  font-size: 16px;
  font-family: "Onest";
  font-weight: 400;
}
.reservation-form__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}
.reservation-form__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.reservation-form__btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .reservation-form__inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .reservation-form__btn {
    width: 100%;
  }
}

.topBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: clamp(1.5rem, 1.0829rem + 1.608vw, 2.5rem);
}
.topBox__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 16px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.topBox__header.center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.topBox__textbox {
  text-align: right;
}
@media (max-width: 767px) {
  .topBox__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .topBox__header.center {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .topBox .textbox {
    display: inline-block;
  }
  .topBox .textbox__text {
    display: inline;
  }
  .topBox__textbox {
    text-align: left;
  }
}

.wrapper--animation .footer {
  position: relative;
  z-index: 50;
  top: 100vh;
  background-color: #fff;
}

.footer {
  padding: clamp(1.25rem, 0.9372rem + 1.206vw, 2rem) 0 clamp(1.125rem, 0.2908rem + 3.2161vw, 3.125rem);
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: clamp(1.75rem, -8.4932rem + 16.0207vw, 5.625rem);
}
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 28px;
}
.footer__top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 28px;
  max-width: 430px;
}
.footer__top-content .footer__copy-logo {
  display: none;
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: clamp(1.75rem, -10.4758rem + 19.1214vw, 6.375rem);
  letter-spacing: -0.02em;
}
.footer a {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.footer a:hover {
  color: #039191;
}
.footer__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 47px;
  max-width: 265px;
  width: 100%;
  font-weight: 500;
  font-family: "Involve";
}
.footer__details--mobile {
  display: none;
}
.footer__details-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.footer__details-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.footer__details-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__lists {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 26px;
}
.footer__list-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
  max-width: 250px;
}
.footer__list-title {
  font-family: "Onest";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  text-transform: uppercase;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.footer__item {
  font-family: "Involve";
}
.footer__copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.footer__copy-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.footer__copy-content p {
  font-size: 14px;
  letter-spacing: -0.01em;
}
@media (max-width: 1023px) {
  .footer {
    border-top: 1px solid rgba(76, 76, 76, 0.2);
  }
  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__top .footer__copy-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__lists {
    gap: 12px;
  }
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__content > * {
    border-bottom: 1px solid rgba(76, 76, 76, 0.2);
    padding-bottom: 28px;
  }
  .footer__copy .footer__copy-logo {
    display: none;
  }
  .footer__details {
    display: none;
  }
  .footer__details--mobile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 12px;
    max-width: 100%;
  }
  .footer__details-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .footer__details-item-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px;
  }
  .footer__details-item-text {
    color: rgba(76, 76, 76, 0.4);
    font-weight: 600;
  }
}/*# sourceMappingURL=page.css.map */