.roomGallery {
  --gap: 20px;
}
.roomGallery__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: clamp(2.125rem, 1.9654rem + 0.6154vw, 2.5rem);
}
.roomGallery__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.roomGallery__top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.roomGallery__top-price {
  font-size: clamp(1rem, 0.8936rem + 0.4103vw, 1.25rem);
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}
.roomGallery .swiper-wrapper {
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(1, 267px);
}
.roomGallery__slide {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--gap);
}
.roomGallery .swiper-slide {
  width: 100%;
}
.roomGallery .swiper-slide:nth-child(4n+1), .roomGallery .swiper-slide:nth-child(4n+2), .roomGallery .swiper-slide:nth-child(4n+4) {
  grid-column: span 3;
}
.roomGallery .swiper-slide:nth-child(4n+1), .roomGallery .swiper-slide:nth-child(4n+3) {
  grid-row: span 2;
}
.roomGallery .swiper-slide:nth-child(4n+3) {
  grid-column: span 4;
}
.roomGallery .swiper-slide img {
  width: 100%;
  height: 100%;
}
.roomGallery__swiper-box {
  position: relative;
}
.roomGallery .arrows-swiper {
  position: absolute;
  top: 50%;
  z-index: 2;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  right: 20px;
}
.roomGallery .swiper-pagination {
  display: none;
}
@media (max-width: 1279px) {
  .roomGallery .arrows-swiper {
    display: none;
  }
  .roomGallery .swiper-pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 20;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    bottom: 20px;
  }
}
@media (max-width: 550px) {
  .roomGallery .container {
    padding: 0;
  }
  .roomGallery .navigation__top, .roomGallery__top {
    padding-inline: 15px;
  }
  .roomGallery__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .roomGallery__top button {
    position: fixed;
    left: 16px;
    right: 16px;
    bottom: 15px;
    z-index: 10;
  }
}

.roomInfo__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 32px;
}
.roomInfo__content {
  max-width: 333px;
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.roomInfo__content .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
.roomInfo__btn {
  text-transform: uppercase;
  font-size: clamp(1rem, 0.3615rem + 2.4615vw, 2.5rem);
  line-height: 1.25;
  font-weight: 400;
  font-family: "LibelSuit";
  background-color: transparent;
  color: #707070;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-align: left;
  cursor: pointer;
}
.roomInfo__btn.active {
  color: #4c4c4c;
}
.roomInfo__items {
  max-width: 918px;
  width: 100%;
}
@media (max-width: 1023px) {
  .roomInfo__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .roomInfo__content {
    max-width: 100%;
  }
  .roomInfo__content .swiper-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0;
    padding-bottom: 10px;
  }
  .roomInfo__content .swiper-slide {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .roomInfo__btn {
    color: #4C4C4C;
    font-size: clamp(1rem, -83.9rem + 96vw, 2.5rem);
    color: #4C4C4C;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Involve";
  }
  .roomInfo__btn.active {
    color: #039191;
    position: relative;
  }
  .roomInfo__btn.active:before {
    content: "";
    position: absolute;
    bottom: -5px;
    width: 100%;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #039191;
  }
}

.roomInfo-item {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: clamp(1.5rem, 1.0744rem + 1.641vw, 2.5rem);
}
.roomInfo-item.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.roomInfo-item__title {
  text-transform: uppercase;
  font-size: clamp(2.5rem, 2.2872rem + 0.8205vw, 3rem);
  line-height: 1.4;
  font-weight: 400;
  font-family: "LibelSuit";
  background-color: transparent;
}
.roomInfo-item__boxs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: clamp(2rem, 1.7872rem + 0.8205vw, 2.5rem);
}
.roomInfo-item__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: clamp(1.5rem, 1.3936rem + 0.4103vw, 1.75rem);
}
.roomInfo-item__box-title {
  font-size: clamp(2rem, 1.8936rem + 0.4103vw, 2.25rem);
  line-height: 1.4;
  text-transform: uppercase;
}
.roomInfo-item__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px clamp(1rem, 0.8936rem + 0.4103vw, 1.25rem);
}
.roomInfo-item__list--big {
  grid-template-columns: repeat(1, 1fr);
}
.roomInfo-item__list--big .roomInfo-item__link {
  max-width: 686px;
}
.roomInfo-item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  font-family: "Involve";
  max-width: 333px;
}
.roomInfo-item__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(226, 220, 213, 0.6980392157);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.roomInfo-item__icon img {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
}
.roomInfo-item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: clamp(1.25rem, 0.7179rem + 2.0513vw, 2.5rem);
}
.roomInfo-item__times {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: clamp(1.5625rem, 0.6314rem + 3.5897vw, 3.75rem);
}
.roomInfo-item__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: clamp(1rem, 0.8936rem + 0.4103vw, 1.25rem);
}
.roomInfo-item__time-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.roomInfo-item__time-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
  font-family: "Involve";
  font-weight: 600;
  text-transform: uppercase;
}
.roomInfo-item__time-title {
  color: rgba(76, 76, 76, 0.4);
  font-size: 16px;
  line-height: 1.5;
}
.roomInfo-item__time-text {
  font-size: 20px;
  line-height: 1.2;
}
.roomInfo-item__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
.roomInfo-item__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.roomInfo-item__card {
  padding: 20px 16px;
  background-color: #E2DCD5;
  min-height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.roomInfo-item__card-icon {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #fff;
}
.roomInfo-item__card-icon img {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
}
.roomInfo-item__card-text {
  font-size: clamp(1rem, 0.8936rem + 0.4103vw, 1.25rem);
  font-weight: 500;
  line-height: 1.25;
  font-family: "Involve";
}
.roomInfo-item__info-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: clamp(1rem, 0.5744rem + 1.641vw, 2rem);
}
.roomInfo-item__help {
  color: rgba(76, 76, 76, 0.6980392157);
}
@media (max-width: 1023px) {
  .roomInfo-item__list {
    grid-template-columns: repeat(1, 1fr);
  }
  .roomInfo-item__link {
    max-width: 100%;
  }
  .roomInfo-item__time-text {
    text-transform: none;
    font-weight: 500;
  }
  .roomInfo-item__card-text {
    font-weight: 600;
  }
  .roomInfo-item__times {
    padding-bottom: clamp(1.25rem, 0.7179rem + 2.0513vw, 2.5rem);
    border-bottom: 1px solid #EFEFEF;
  }
}
@media (max-width: 767px) {
  .roomInfo-item__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 12px;
  }
  .roomInfo-item__card {
    padding: 0;
    background-color: transparent;
    min-height: 0;
  }
  .roomInfo-item__card-icon {
    background-color: rgba(226, 220, 213, 0.6980392157);
  }
}/*# sourceMappingURL=room.css.map */