.addBlock {
    &__inner {
        display: flex;
        justify-content: space-between;
        gap: $gap40-24;
    }

    &__info {
        max-width: 686px;
        width: 100%;
    }

    &__content {
        max-width: 568px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-top: 17px;
    }
    
    &__list {
        font-family: 'Involve';
        font-size: clamp(0.875rem, 0.8183rem + 0.2186vw, 1rem);
        line-height: 1.5;
        padding-left: 20px;
    }

    @media(max-width:1023px) {
        &__inner {
            flex-direction: column;
        }

        &__content {
            padding-top: 0;
        }
    }
}