.banner-help {
    background-color: #E2DCD5;
    padding: clamp(2.5rem, 2.2165rem + 1.0929vw, 3.125rem) 0;

    &__inner {
        display: flex;
        flex-direction: column;
        gap: clamp(1rem, 0.7732rem + 0.8743vw, 1.5rem);
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: clamp(1rem, 0.7732rem + 0.8743vw, 1.5rem);
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .link,
        .button {
            margin: 0 auto;
        }
    }
}