.card-decor {
  min-height: clamp(16rem, 9.5059rem + 21.6471vw, 27.5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fdf9dc;
  padding: 24px;
  gap:  clamp(0.75rem, -0.2382rem + 3.2941vw, 2.5rem);
  height: 100%;

  &--green {
    background-color: #eaf1ec;
  }

  &--gold {
    background-color: #fdf9dc;
  }

  &--chocolate {
    background-color: #f1ebd6;
  }

  &--coral {
    background-color: #FAF7F4;
  }

  &--mini {
    min-height: 0;
    padding: clamp(1.5rem, 0.6529rem + 2.8235vw, 3rem) 24px;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__icon {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: #fff;

    img,
    svg {
      width: 24px;
      height: 24px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: clamp(0.75rem, 0.0441rem + 2.3529vw, 2rem);
  }

  @media(max-width:767px) {
    min-height: 0;
  }
}
