.certificate-form {
  display: flex;
  flex-direction: column;
  gap: clamp(1.5rem, 1.279rem + 0.7366vw, 1.75rem);

  &__content,
  &__info {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: clamp(0.5rem, 0.058rem + 1.4733vw, 1rem);
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  &__footer-info {
    display: flex;
   flex-direction: column;
    gap: 12px;
  }
}
