.holiday-variant {
    &__swiper-box {
        width: 100%;
        min-width: 0;
    }

    @media(max-width:1223px) {
        .topBox__header {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    @media(max-width:1023px) {
        overflow: hidden;
        .swiper {
            overflow: visible;
        }
    }
}