.holaday-info {
  --gap-info: 24px;
  --img-height : 230px;

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: relative;
  }

  &__top,
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: var(--gap-info);
    position: relative;
    z-index: 2;
  }

  &__top {
    max-width: 756px;
    width: 100%;
    margin: 0 auto;
  }

  &__imgs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  &__img {
    width: 100%;
    height: 230px;
    background-color: #b9b9b9;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
  }

  &__first-flake {
    left: 10%;
    top: -10px;
  }

  &__two-flake {
   right: 10%;
   bottom: calc(var(--img-height) + 70px)
  }

  @media(max-width:1023px) {
    --gap-info: 20px;
    --img-height: 0px;

    &__imgs {
      display: none;
    }

    &__first-flake {
      left: 10px;
      top: -50px;
      width: 40px;
      height: 40px;
    }
  
    &__two-flake {
     display: none;
    }
  }

  @media(max-width:767px) {
    &__info {
      align-items: normal;
    }
  }
}
