.places {
    --maxWidthActive : 686px;
    --maxWidthDefaultSwiper : 333px;

    &__inner {
        display: flex;
        flex-direction: column;
        gap: $gap40-24;
    }

    &__top {
        display: flex;
        flex-direction: column;
        gap: $gap40-16;
    }

    &__top-head,
    &__top-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    &__top-textbox {
        max-width: 568px;
        width: 100%;
    }

    .swiper {
        max-width: calc(var(--maxWidthDefaultSwiper) * 2 + var(--maxWidthActive) + 12px * 2);
        width: 100%;
        overflow: hidden;
    }

    .swiper-wrapper {
        // gap: 20px;
    }

    .swiper-slide {
        max-width: var(--maxWidthDefaultSwiper);
        transition: all .5s;
        width: 100%;

        &.swiper-slide-next {
            max-width: var(--maxWidthActive);
            width: 100%;
            min-height: 500px;
            transform-origin: center;

            .places-item {
                max-width: 100%;
                height: 100%;
                min-height: 500px;
            }
        }

        @media(max-width:1380px) {
            max-width: 100%;


            &.swiper-slide-next {
                max-width: 100%;
                min-height: auto;

                .places-item {
                    min-height: clamp(24.25rem, 22.9744rem + 4.918vw, 27.0625rem);
                }
            }
        }
    }

    @media(max-width:767px) {
        .arrows-swiper {
            display: none;
        }
    }
}