.price {
  --gap-block: clamp(1.875rem, -6.6397rem + 17.762vw, 8.125rem);
  --price-block-width: 215px;

  @media (max-width: 900px) {
    --price-block-width: 100%;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__content {
    display: flex;
    gap: var(--gap-block);
    align-items: flex-start;
  }

  .price-sidebar {
    max-width: var(--price-block-width);
    width: 100%;
    flex-shrink: 0;
  }

  &__info {
    width: 100%;
  }

  &__boxs {
    width: 100%;
  }

  &__box {
    display: none;
    flex-direction: column;
    gap: clamp(1.5rem, 0.1377rem + 2.8419vw, 2.5rem);

    &.active {
      display: flex;
    }
  }

  &__mini-tabs {
    &.swiper {
      margin-left: 0;
      margin-right: 0;
    }

    .swiper-slide {
      width: fit-content;
    }

    .swiper-wrapper {
      padding-bottom: 20px;
    }
  }

  &__textbox {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .search {
    max-width: 686px;
  }

  .accordeon__answer {
    width: calc(
      min($maxWidth-container, 100vw) - var(--gap-block) -
        var(--price-block-width) - 90px
    );
    overflow-x: auto;
    overflow-y: hidden;

    @media (max-width: 1223px) {
      width: calc(
        min($maxWidth-container, 100vw) - var(--gap-block) -
          var(--price-block-width) -
          (clamp(1rem, 0.2285rem + 2.9744vw, 2.8125rem) * 2)
      );
    }

    @media (max-width: 900px) {
      width: 100%;
    }
  }

  @media (max-width: 900px) {
    &__content {
      flex-direction: column;
    }
  }
}
