.roomInfo-item {
  display: none;
  flex-direction: column;
  gap: clamp(1.5rem, 1.0744rem + 1.641vw, 2.5rem);

  &.active {
    display: flex;
  }

  &__title {
    text-transform: uppercase;
    font-size: clamp(2.5rem, 2.2872rem + 0.8205vw, 3rem);
    line-height: 1.4;
    font-weight: 400;
    font-family: "LibelSuit";
    background-color: transparent;
  }

  &__boxs {
    display: flex;
    flex-direction: column;
    gap: clamp(2rem, 1.7872rem + 0.8205vw, 2.5rem);
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: clamp(1.5rem, 1.3936rem + 0.4103vw, 1.75rem);
  }

  &__box-title {
    font-size: clamp(2rem, 1.8936rem + 0.4103vw, 2.25rem);
    line-height: 1.4;
    text-transform: uppercase;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px clamp(1rem, 0.8936rem + 0.4103vw, 1.25rem);
  }

  &__list--big {
    grid-template-columns: repeat(1, 1fr);

    .roomInfo-item__link {
      max-width: 686px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: 'Involve';
    max-width: 333px;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e2dcd5b2;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    flex-shrink: 0;

    img {
        width: 24px;
        height: 24px;
        object-fit: contain;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: clamp(1.25rem, 0.7179rem + 2.0513vw, 2.5rem);
  }

  &__times {
    display: flex;
    flex-wrap: wrap;
    gap: clamp(1.5625rem, 0.6314rem + 3.5897vw, 3.75rem);
  }

  &__time {
    display: flex;
    gap: clamp(1rem, 0.8936rem + 0.4103vw, 1.25rem);
  }

  &__time-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__time-content {
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-family: 'Involve';
    font-weight: 600;
    text-transform: uppercase;
  }

  &__time-title {
    color:#4C4C4C66;
    font-size: 16px;
    line-height: 1.5;
  }

  &__time-text {
    font-size: 20px;
    line-height: 1.2;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  &__card {
    padding: 20px 16px;
    background-color: #E2DCD5;
    min-height: 90px;
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__card-icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    flex-shrink: 0;
    background-color: #fff;

    img {
        width: 24px;
        height: 24px;
        object-fit: contain;
    }
  }

  &__card-text {
    font-size: clamp(1rem, 0.8936rem + 0.4103vw, 1.25rem);
    font-weight: 500;
    line-height: 1.25;
    font-family: 'Involve';
  }

  &__info-text {
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 0.5744rem + 1.641vw, 2rem);;
  }

  &__help {
    color:#4C4C4CB2;
  }

  @media(max-width:1023px) {
    &__list {
      grid-template-columns: repeat(1, 1fr);
    }

    &__link {
      max-width: 100%;
    }

    &__time-text {
      text-transform: none;
      font-weight: 500;
    }

    &__card-text {
      font-weight: 600;
    }

    &__times {
      padding-bottom: clamp(1.25rem, 0.7179rem + 2.0513vw, 2.5rem);
      border-bottom: 1px solid #EFEFEF
    }
  }

  @media(max-width:767px) {
    &__cards {
      display: flex;
     flex-direction: column;
     gap: 12px;
    }

    &__card {
      padding: 0;
      background-color: transparent;
      min-height: 0;
    }

    &__card-icon {
      // justify-content: flex-start;
      background-color: #E2DCD5B2;
    }
  }
}
