.serviceInfo {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__items {
    display: flex;
    flex-direction: column;
    counter-reset: custom-number-list;
  }
}
