.serviceInfo {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__items {
    display: flex;
    flex-direction: column;
    counter-reset: custom-number-list;

    @media(min-width:1023px) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
    }
  }
}
