@font-face{
    font-family: 'Involve';
    src:url('../fonts/Involve-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face{
    font-family: 'Involve';
    src:url('../fonts/Involve-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face{
    font-family: 'Involve';
    src:url('../fonts/Involve-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face{
    font-family: 'LibelSuit';
    src:url('../fonts/LibelSuit-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face{
    font-family: 'Onest';
    src:url('../fonts/Onest-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face{
    font-family: 'Onest';
    src:url('../fonts/Onest-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face{
    font-family: 'Onest';
    src:url('../fonts/Onest-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}
